[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"


[project]
name = "whoisdomain"
version = "1.20230424.7"
authors = [
  { name="DannyCork"},
]

maintainers = [
  { name="Maarten Boot", email="mboot.github@gmail.com" },
]

description = "Python package for retrieving WHOIS information of domains."
readme = "README.md"
requires-python = ">=3.6"

license = "MIT"

classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Environment :: Console",

    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",

    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

keywords = [
    "Python",
    "whois",
    "tld",
    "domain",
    "expiration",
    "cctld",
    "registrar",
]

[project.scripts]
whoisdomain = 'whoisdomain.main:main'

[project.urls]
"Bug Tracker" = "https://github.com/mboot-github/WhoisDomain/issues"
"Home Page" = "https://github.com/mboot-github/WhoisDomain/"
"Repository" = "https://github.com/mboot-github/WhoisDomain/"

