[build-system]
    requires = ["hatchling"]
    build-backend = "hatchling.build"

[project]
    name = "whoisdomain"
    dynamic = ['version']

    authors = [
      { name="DannyCork"},
    ]

    maintainers = [
      { name="Maarten Boot", email="130295084+mboot-github@users.noreply.github.com" },
    ]

    description = "Python package for retrieving WHOIS information of domains."
    readme = "README.md"
    requires-python = ">=3.6"

    license = "MIT"

    classifiers = [
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
        "Intended Audience :: Developers",
        "Environment :: Console",
        "Programming Language :: Python :: 3",
        "Topic :: Internet",
        "Topic :: Software Development :: Libraries :: Python Modules",
    ]

    keywords = [
        "Python",
        "whois",
        "tld",
        "domain",
        "expiration",
        "cctld",
        "registrar",
    ]

[project.scripts]
    whoisdomain = 'whoisdomain.main:main'

[project.urls]
    "Bug Tracker" = "https://github.com/mboot-github/WhoisDomain/issues"
    "Home Page" = "https://github.com/mboot-github/WhoisDomain/"
    "Repository" = "https://github.com/mboot-github/WhoisDomain/"

[tool.hatch.version]
    path = "whoisdomain/version.py"

[tool.hatch.build]
    only-packages = true

    include = [
        "whoisdomain/*.py",
    ]

    exclude = [
        "/Old/*",
        "/lib/*",
        "/etc/*",
        "/bin/*",
        "/testdata/*",
        "Makefile",
        ".gitignore",
        "/.gitignore",
    ]

[tool.pylama]
    max_line_length = 160
    skip = "*/.pytest_cache/*, */.tox/*, */mypy_cache/*, ./dist, ./docs"

