name: Releases

on:
  push:
    tags:
    - '1.202[34][0-9][0-9].[0-9]'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3
    - uses: ncipollo/release-action@v1
      with:
        bodyFile: "README.md"
